html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rosybrown;
}
header{
    text-align: left;
    border-color: black;
}
#column{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
    width: 100%;
    margin: 20px auto;
}
.box{
    display: flex;
    flex-flow: column;
    border-color: black;
    flex: 25%;
    width: 25%;
    padding: 0 4px;
}
img{
    max-width: 236px;
    margin-top: 10px;
}
/* MEDIA QUERIES */
@media only screen and (max-width : 480px) {
    #column{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 75%;
        height: 75%;
    }
    .box{
        margin-right: 10%;
    }
    img{
        width: 75%;
        height: 50%;
    }
    header{
        text-align: center;
    }
    }
    @media only screen and (max-width : 650px) and (min-width 
   : 481px) {
    #column{
        display: flex;
        flex-wrap: wrap;
        width: 50%;
    }
    header{
        text-align: center;
    }
    }
    @media only screen and (max-width : 1050px) and (min-width 
   : 651px) {
    #column{
        display: flex;
        flex-wrap: wrap;
        width: 33.3%;
    }
    img{
        width: 95%;
        height: 40%;
    }
    .box{
        margin-right: 10%;
    }
    header{
        text-align: center;
    }
    }
    @media only screen and (max-width : 1290px) and (min-width 
   : 1051px) {
    #column{
        display: flex;
        flex-wrap: wrap
        width: 25%;
        
    }
    img{
        width: 75%;
        height: 50%;
    }
    .box{
        margin-right: 10%;
    }
    header{
        text-align: center;
    }
    }